@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: #fff;
  user-select: none;
}
.Container{
  width: 100%;
  text-align: left;
  align-items: center;
}

:root {
  --main-color: rgba(19, 42, 103,0.8);
  --color-nav: transparent;
  --color-content: rgb(0, 74, 135);
  --pag-bm-color: #fff;
  --pag-bs-color: rgb(246, 247, 251);
  --font-color: #000;
  --font-white: #fff;
  --font-size-nav: 16px;
  --font-size-paragraph: 18px;
  --font-size-title-medium: 30px;
  --font-size-title-large: 41px;
  --font-size-mobile: 24px;
}

/* Nav */
.header-area {
  background-color: var(--color-nav);
  width: 100%;
  z-index: 999;
  padding: 12px 50px;
  border-bottom: rgba(233, 233, 233, 0.479);
}
.navigation-s {
  width: 100%;
  margin: auto;
  display: table;
}

.navigation-d {
  line-height: 19px;
  width: 100%;
  position: relative;
}

.logo-area {
  float: left;
  padding: 17px 0px;
  align-items: center;
}

.logo-area .logo {
  color: var(--font-color);
  padding: 15px;
  font-size: 20px;
  font-weight: 400px;
}

.logo-area span {
  font-size: var(--font-size-mobile);
  font-weight: 900px;
  color: var(--main-color);
}

.mobile-nav {
  display: none;
}

/* BARRA DE NAVEGACIÓN */
#Layer_1 {
  width: 40px;
  line-height: 20px;
}
.nav {
  float: right;
}

.nav .items {
  display: inline-block;
  margin: 21px 5px;
}

.nav-list {
  justify-content: space-between;
  height: 60px;
  text-align: center;
}

.nav-list a {
  position: relative;
  width: 100%;
  color: var(--font-color);
  border-bottom: 2px solid transparent;
  margin-right: 30px;
  transition: all 0.1s ease;
  font-size: var(--font-size-nav);
}

/* Donar button */
.nav-list #back-donar {
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  transition: all ease 0.3s;
}

#donar-text {
  color: var(--font-white);
  margin: 0;
  background-color: var(--color-content);
  line-height: 40px;
  padding: 10px 28px;
  background-color: var(--color-content);
  border: 2px solid var(--color-content);
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-nav);
  color: var(--pag-bm-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: all ease 0.3s;
}

#donar-text:hover,
#back-donar:hover {
  background-color: var(--pag-bm-color);
  color: var(--color-content);
  transform: translateY(-5px);
}
/* COLOR ACTIVO */
.nav-list a:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}
.nav-list #no-line:hover {
  border-bottom: none;
}

.img-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #0b3cc138;
  padding: 1px 5px;
  border-radius: 10px;
  color: var(--black-light-color);
}



 .info-pfp {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.5rem;
  color: var(--text-color);
}
.info-pfp .texto {
  display: flex;
}
.rol-pfp {
  background-color: var(--box4-color);

  color: var(--font-white);
  border-radius: 20px;
}
.img-box-in img {
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.logo-area {
  float: left;
  padding: 17px 0px;
  align-items: center;
}

.logo-area img {
  width: 30px;
}
/* NAV MOBILE RESPONSIVE */
.mobile-nav {
  float: right;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  color: var(--font-color);
  outline: none;
  cursor: pointer;
}
.mobile-nav i {
  color: #fff;
}

/* BACKGROUND SVG'S*/
#elipse1 {
  position: absolute;
  z-index: -1;
  top: -65%;
  left: -35%;
  width: 700px;
  height: 700px;
}

#elipse2 {
  position: absolute;
  z-index: -1;
  top: -70%;
  left: -30%;
  width: 700px;
  height: 700px;
}

#elipse3 {
  position: absolute;
  z-index: -1;
  top: -58%;
  left: -23%;
  width: 700px;
  height: 700px;
}

#flowers-1 {
  position: absolute;
  z-index: -1;
  top: -20%;
  right: 67%;
}

#flowers-2 {
  position: absolute;
  z-index: -1;
  top: -15%;
  left: 68%;
}

#dish {
  position: absolute;
  width: 220px;
  z-index: 99;
  bottom: -5%;
  left: -28%;
}
/* Fin nav */

/*IMAGEN TOP*/
.img-side {
  overflow: hidden;
}

.back-static {
  position: static;
  height: 8vh;
  top: auto;
  bottom: 0;
  right: auto;
  background-color: var(--pag-bs-color);
}


/*FIN IMAGE TOP*/


.Título{
  font-size: var(--font-size-title-large);
  margin-left: 210px;
  margin-top: 60px;
}
.Container h3 {
  font-size: var(--font-size-title-medium);
  color: var(--main-color);
  margin-left: 210px;
}
/* TURNOS */
.Container_Turno{
  margin-top: 30px;
  margin-left: 210px;
  background-color: #cccccc5d;
  padding: 15px;
  border-radius: 3%;
  width: 500px;
}
.Su_Turno{
  background-color: rgb(255, 255, 255);
  height: 500px;
  text-align: center;
  border-radius: 3%;
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.41);
-webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.41);
-moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.41);
}
.Turno_text{
  font-size: 25px;
  background-color: rgb(226, 226, 226);
  width: 100px;
  height: 25px;
  margin-top: 30px;
  border-radius: 6px;
}
.Turno{
  position: relative;
}
.Turno h1{
  font-size: 140px;
  color: #236197;
}

/* INFORMACIÓN FILA */
.Fecha{
  display: flex;
  background-color:#dedede8c;
  border-radius: 8px;
  height: 100px;
  align-items: center;
  color: #fff;
  align-items: center;
}

.fecha_text p{
  width: 140px;
  margin-left: 80px;
  font-size: 30px;
  color: #000;
}

.fecha_number{
  margin-left: 100px;
  font-size: 30px;
  color: #000;
}

/* Ajusta el color de fondo y opacidad */
.bg-opacity-50 {
  background-color: rgba(255, 255, 255, 0.5); /* Color y opacidad */
}

/* Agrega sombra */
.shadow-lg {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra */
}


/*BOTONES*/
.Botones_Fila{
  display: flex;
}

.Ingresar_Fila, .Cancelar button{
  padding: 7px;
  margin-top: 40px;
  padding: 7px 27px;
  border-radius: 5px; 
  border: none;
  font-size: 20px;
}

.Cancelar button{
  background-color: rgb(248, 17, 17);
  color: white;
  margin-bottom: 30px;
}
.Cancelar button:hover{
  cursor: pointer;
  background-color: rgb(245, 42, 42);
}
.Ingresar_Fila{
  background-color: #1a72ba;
  color: white;
  margin-left: 115px;
}
.Ingresar_Fila:hover{
  background-color: #1f7ac5;
  cursor: pointer;
}