@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  color: black;
}
:root {
  --main-color: rgba(19, 42, 103, 0.8);
  --color-nav: transparent;
  --color-content: rgb(0, 74, 135);
  --pag-bm-color: #fff;
  --pag-bs-color: rgb(246, 247, 251);
  --font-color: #000;
  --font-white: #fff;
  --font-size-nav: 16px;
  --font-size-paragraph: 18px;
  --font-size-title-medium: 30px;
  --font-size-title-large: 41px;
  --font-size-mobile: 24px;
}
body {
  background-color: var(--pag-bm-color);
  user-select: none;
}

.header-area {
  background-color: var(--color-nav);
  width: 100%;
  z-index: 999;
  padding: 12px 50px;
}

.navigation-s {
  width: 100%;
  margin: auto;
  display: table;
  z-index: 999;
  border-bottom: rgba(233, 233, 233, 0.479);
}

.navigation-d {
  line-height: 19px;
  width: 100%;
  position: relative;
}

.logo-area {
  float: left;
  padding: 17px 0px;
  align-items: center;
}

.logo-area .logo {
  color: var(--font-color);
  padding: 15px;
  font-size: 20px;
  font-weight: 400px;
}

.logo-area span {
  font-size: var(--font-size-mobile);
  font-weight: 900px;
  color: var(--main-color);
}

.mobile-nav {
  display: none;
}
/* BARRA DE NAVEGACIÓN */
#Layer_1 {
  width: 40px;
  line-height: 20px;
}
.nav {
  float: right;
}

.nav .items {
  display: inline-block;
  margin: 21px 5px;
}

.nav-list {
  justify-content: space-between;
  height: 60px;
  text-align: center;
}

.nav-list a {
  position: relative;
  width: 100%;
  color: var(--font-color);
  border-bottom: 2px solid transparent;
  margin-right: 30px;
  transition: all 0.1s ease;
  font-size: var(--font-size-nav);
}

/* Donar button */
.nav-list #back-donar {
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  transition: all ease 0.3s;
}

#donar-text {
  color: var(--font-white);
  margin: 0;
  background-color: var(--color-content);
  line-height: 40px;
  padding: 10px 28px;
  background-color: var(--color-content);
  border: 2px solid var(--color-content);
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-nav);
  color: var(--pag-bm-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: all ease 0.3s;
}

#donar-text:hover,
#back-donar:hover {
  background-color: var(--pag-bm-color);
  color: var(--color-content);
  transform: translateY(-5px);
}
#no-line {
  border-bottom: none;
  text-decoration: none;
  color: var(--main-color);
}
/* COLOR ACTIVO */
.nav-list a:hover {
  border-bottom: 2px solid var(--main-color);
  text-decoration: none;
  color: var(--main-color);
}
#no-line:hover {
  border-bottom: none;
  text-decoration: none;
  color: var(--main-color);
}
.img-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #0b3cc138;
  padding: 1px 5px;
  border-radius: 10px;
  color: var(--black-light-color);
}



 .info-pfp {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.5rem;
  color: var(--text-color);
}
.info-pfp .texto {
  display: flex;
}
.rol-pfp {
  background-color: var(--box4-color);

  color: var(--font-white);
  border-radius: 20px;
}
.img-box-in img {
  width: 40px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.logo-area {
  float: left;
  padding: 17px 0px;
  align-items: center;
}

.logo-area img {
  width: 30px;
}

.nav-list #active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
/*dropdown*/

.dropdown-content {
  display: none;
  position: absolute;
  inline-size: 2rem;
  width: max-content;
  z-index: 10;
}

.dropdown-content li {
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  padding-top: 0.5rem;
  background-color: var(--pag-bs-color);
}

.dropdown {
  width: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*Tot*/
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span {
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work p {
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
}
.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}
/*------- EDITAR DATOS DEL USUARIO--------- */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  z-index: 1; /* Asegura que la superposición esté encima del resto del contenido */
}

#win-fixed {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    animation: aparecerDesdeArriba 0.5s ease-out; /* Ajusta la duración y el efecto de la animación */
    z-index: 2;
}

@keyframes aparecerDesdeArriba {
    from {
        transform: translate(-50%, -100%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

.win-float {
  margin-top: 20px;
  color: #69707a;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.delete {
  border: none;
  float: right;
  bottom: 0;
  right: 10%;
  border-radius: 1.5rem;
  width: 20%;
  padding: 5px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
